.hero-unit {
   word-wrap: break-word;
}
body {
  padding-bottom: 40px;
  padding-top: 60px;
}


.serviceicon {
 display: inline-block;
 text-indent: -999em;
 font-size: 0;
 width: 24px;
 height: 24px;
 background: url(../img/ui-images.png);
 background-position: 0px 0px;
 background-repeat: no-repeat;
 display: block;
}

.status.down {
  background-position: 0px 0px;
}

.status.up {
  background-position:  -52px -26px;
}

.status.paused {
  background-position:  0px -26px;
}

.serviceicon.green {
  background-position:  -26px 0px;
}

.serviceicon.red {
  background-position:  -26px -26px;
}

.serviceicon.unknown {
  background-position:  -52px 0px;
}


.serviceicon.yellow {
  background-position:  0px -52px;
}
